* {
    margin: 0%;
    padding: 0%;  
}

header {
    text-align: center;
    padding: 1.5rem;
    background-image: radial-gradient(yellow, orange, blue);
   
}

nav {
background-color: blue;
border-radius: 7px;
background-image: radial-gradient(yellow, orange, blue);
font-weight: 700;
}

body {
   background-image: radial-gradient(yellow, orange, blue);
}

#personalPicture {
    max-width: 100%;
    max-height: 100%;
    padding: 15px;
}

#aboutMe {
    display: none;
}

.projectImage {
    max-width: 100%;
    max-height: 100%;
}

#projects {
    display: none;
}


#resume {
    display: none;
    font-weight: 700;
}

ul {
    list-style-type: none;
}

#contact {
    text-align: center;
    display: none;
}

#resumePDF {
    text-decoration-line: underline;
}

.links {
    text-decoration: underline;
    font-weight: 700;
}

#contact {
  font-weight: 500;
}